<%- include('partials/header.ejs', { title: 'Liste des Clients' }) %>
<h1>Liste des Clients</h1>
<a href="/customers/add" class="btn btn-primary mb-3">Ajouter un client</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Numéro</th>
      <th>Compagnie</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>TVA</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% customers.forEach(customer => { %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.cust_number %></td>
        <td><%= customer.cust_compagny %></td>
        <td><%= customer.cust_firstname %></td>
        <td><%= customer.cust_lastname %></td>
        <td><%= customer.cust_vat_number %></td>
        <td><%= customer.cust_mail %></td>
        <td>
          <a href="/customers/edit/<%= customer.id %>" class="btn btn-secondary">Modifier</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
<%- include('partials/footer.ejs') %>
