<%- include("partials/header.ejs") %>
<%if(locals.invoices){%>
    <input id="btnByNum" type="button" value="Trier par numero de facture" class="active">
    <input id="btnByDate" type="button" value="Trier par date">
<ul id="sortByDate" class="hidden">
    <%invoices.forEach(invoice => {%>
    <li><%= invoice.inv_date %></li>
    <%});%>
</ul>

<ul id="sortByNum">
    <%invoices.forEach(invoice => {%>
    <li><%= invoice.inv_number %></li>
    <%});%>
</ul>
<%}%>

<form action="/search" method="post">
    <fieldset>
        <legend>Chercher par</legend>
            <input type="radio" id="invNum" checked name="searchSelect" value="inv_number" class="radio">
            <label for="invNum">Numéro de facture</label>

            <input type="radio" id="invDate" name="searchSelect" value="inv_date">
            <label for="invDate">Date</label>

            <input type="radio" id="custName" name="searchSelect" value="cust_lastname" class="radio">
            <label for="custName">Nom de client</label>

            <input type="radio" name="searchSelect" id="custNum" value="cust_number" class="radio">
            <label for="custNum">Numero de client</label>
    </fieldset>
    <input type="text" name="searchField" id="searchField" placeholder="votre recherche">
    <input type="date" name="searchDate" id="dateField" class="hidden">
    <input type="submit" value="OK">
</form>

<%if(locals.invoicesBy){%>
    <%invoicesBy.forEach(invoice => {%>
        <ul>
            <li><%= invoice.inv_number %> <%= invoice.cust_lastname %> <%= invoice.inv_date %></li>
        </ul>
    <%});%>
<%}%>
<!-- boutton vers la route pour ajouter une nouvelle facture -->
<a href="/new">
    <input type="submit" value="Ajouter Facture">
</a>
<%- include("partials/footer.ejs") %>
<script src="/js/index.js"></script>
